<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKitProjectId</key>
	<string>0085b463edd8a1bc76d5dc03773c4c2f</string>
	<key>GroupIdentifier</key>
	<string>group.com.pavelsivak.slipfi</string>
	<key>OneInchApiKey</key>
	<string>9Wgi47BUZ0tRWZknQgX7eVRo1vKtJzKn</string>
	<key>PolygonscanAPIKey</key>
	<string>7W8WIA835N91AFI4Q9264N22I24I76PURZ</string>
</dict>
</plist>
